page-home {

.bg{

    background-image: url('../../assets/bg/FondoDuende.png');
}

.item-bg{
    background: transparent;
}

.duende-title{

    
    min-width: 120px;
    min-height: 45px;
    background: transparent;
    background-image: url('../../assets/bg/tit_transparente.png');
    background-repeat: no-repeat;
    background-size: cover;

}

}
